/*------------------------------- All Styles Pertaining to the Navigation Bar -------------------------------*/
nav {
	background-color: #003333;
}

.nav-wrapper .brand-logo {
	font-size: 25px;
}

/*------------------------------- All Styles Pertaining to the Main Body -------------------------------*/
body {
	background-color: #669999;
}

main {
	color: black;
	width: 70%;
	margin: 30px auto 30px auto;
}

.message {
	margin: 30px auto 30px auto;
    background-color: white;
    border: 0.8mm solid black;
}

.message_content {
	margin: 20px;
}

#signature {
	margin-top: -5px;
}

main table {
	border: 0.8mm solid black;
	background-color: white;
}

main .table_header table {
	border-bottom: 0mm solid black;
}

main .table_body table {
	border-top: 0mm solid black;
}

main table a {
	color: inherit;
}

.notes_table {
	margin: 30px auto 30px auto;
}

.head_click {
	cursor: pointer;
}

#info_table {
	width: 70%;
	margin: 30px auto 30px auto;
}

#open_source {
	padding-left: 4px;
	color: inherit;
}

.information {
	background-color: white;
	border-radius: 15px;
	border: 0.8mm solid black;
}

.btn {
	border-radius: 15px;
}

#configuration {
	display: flex;
 	justify-content: center;
}

.row {
	margin-top: 30px;
}

#formTitle {
    border: 0.6mm solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-size: 20px;
    height: 50px;
    margin-top: -2px;
    margin-left: -3px;
    margin-right: -3px;
    vertical-align: middle;
    line-height: 45px;
}

.preloader-wrapper {
	margin-top: 250px;
}