/*------------------------------- All Styles Pertaining to the Navigation Bar -------------------------------*/
nav {
	background-color: #003333;
}

.nav-wrapper .brand-logo {
	font-size: 25px;
}

/*------------------------------- All Styles Pertaining to the Main Body -------------------------------*/
body {
	background-color: #669999;
}

main {
	color: black;
	width: 70%;
	margin: 30px auto 30px auto;
}

.message {
	margin: 30px auto 30px auto;
    background-color: white;
    border: 0.8mm solid black;
}

.message_content {
	margin: 20px;
}

#signature {
	margin-top: -5px;
}

main table {
	border: 0.8mm solid black;
	background-color: white;
}

main .table_header table {
	border-bottom: 0mm solid black;
}

main .table_body table {
	border-top: 0mm solid black;
}

main table a {
	color: inherit;
}

.notes_table {
	/*display: none;*/
	margin: 30px auto 30px auto;
}

.head_click {
	cursor: pointer;
}

#info_table {
	width: 70%;
	margin: 30px auto 30px auto;
}

#open_source {
	padding-left: 4px;
	color: inherit;
}

.main-svg {
	/*border-style: solid;*/
	/*border-radius: 5px;*/
}

.information {
	background-color: white;
	border-radius: 15px;
}

.btn {
	border-radius: 15px;
	/*left: 44%;*/
}

#configuration {
	display: flex;
 	justify-content: center;
}

.validate {
	/*text-align: center;*/
}