/*------------------------------- All Styles Pertaining to the Navigation Bar -------------------------------*/
nav {
	background-color: #d14e61;
	height: 42px;
	opacity: 54%;
}

.nav-wrapper .brand-logo {
	font-size: 25px;
}

.nav-wrapper a, .nav-wrapper ul {
	line-height: 42px;
}

/*------------------------------- All Styles Pertaining to the Main Body -------------------------------*/
body * {
	max-height: 1000000em;
	overflow: hidden;
}

html {
	height: 100%;
	overflow:  hidden;
}

header {
	background: black;
}

main, body {
  	height: 100%;
}